.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(37, 45, 58, 0.7);
	z-index: 2000;
	visibility: hidden;
	// transform-style: preserve-3d;
	// transform: scale(0) rotate(20deg);
	opacity: 0;
	transition: all 0.5s ease;
	&__content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 580px;
		height: 380px;
		// padding: 50px 60px;
		background-color: $secondary-color;
		box-shadow: 0 4px 4px rgba(1, 2, 2, 0.2);
		border-radius: 6px;
	}
	&__wrap-warning {
		display: flex;
		align-items: center;
		width: 100px;
		height: 100px;
		margin-bottom: 50px;
	}
	&__text {
		margin-bottom: 40px;
		color: $main-color;
		text-align: center;
		width: 56%;
		font-size: 22px;
	}

	&__buttons-wrap {
		display: flex;
	}
}
.modal--open {
	// transform: scale(1) rotate(0deg);
	opacity: 1;
	visibility: visible;
}

.btn-close {
	position: absolute;
	display: block;
	top: 25px;
	left: 25px;
	cursor: pointer;
	&:hover {
		&__icon {
			color: $accent-color;
		}
	}
}
// .btn-close:hover .btn-close__icon {
// 	fill: red;
// }

.modal .btn-cancel {
	@extend %button;
	margin-right: 20px;
}
.btn-uninstall {
	@extend %button;
}
.btn-open {
	@extend %button;
}
